login-page {}

ion-content {
    background-color: #FB7A52 !important;
}

ion-content img {
    width: 232px;
    margin: 0 auto;
    display: block;
    margin-top: 138px;
}

.loginButton {
    width: 271px;
    margin: 0 auto;
  
  
}

button{
	text-transform: none !important;
}
