<!-- <ion-header>
    <ion-navbar color="Orange" [hideBackButton]="true">
        <ion-title> -->
        <img src="assets/img/logo.png">

       <!--  </ion-title>
        <ion-buttons end>
            <button ion-button icon-only menuToggle>
                <ion-icon name="md-list"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header> -->
 <!-- <ng2-slim-loading-bar [height]="'4px'" [color]="'#387EF5'"></ng2-slim-loading-bar> -->
<ion-content>
    <div class="circular">
        <div class="circularCamButton" (click)="TakeImage()">
            <ion-icon ios="ios-camera-outline" md="md-camera"></ion-icon>
        </div>
       <!--  <img [src]="UserPic" class="img-circle"> -->
    <div class="Img-container" [ngStyle]="{'background-image': 'url(' + UserPic + ')'}">

    </div>
    </div>
    <div style="margin-top: 10px;">
        <form (ngSubmit)="onSubmit(empForm, $event)" #heroForm="ngForm">
            <md-input-container>
                <input mdInput placeholder="Username" id="Username" required [(ngModel)]="model.username" name="Username" #Username="ngModel">
                <div [hidden]="Username.valid || Username.pristine" class="alert alert-danger">
                    Username is required
                </div>
            </md-input-container>
            <md-input-container>
                <input type="text" id="location" [(ngModel)]="model.location" name="location" mdInput placeholder="Location" #location="ngModel" required>
                <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                    Location is required
                </div>
            </md-input-container>
            <!--             <md-input-container>
                <input mdInput  placeholder="Interest" type="text" [(ngModel)]=query (keyup)=filter($event) id="country">
                <div class="suggestions" *ngIf="filteredList.length > 0">
                    <ul *ngFor="let item of filteredList; let idx = index">
                        <li [class.complete-selected]=" idx == selectedIdx">
                            <a (click)="select(item)">{{item}}</a>
                        </li>
                    </ul>
                </div>
                <div *ngFor="let item of selected">
                    <div class="selected">
                        <span>{{item}}</span>
                        <a (click)="remove(item)">x</a>
                    </div>
                </div>
            </md-input-container> -->
            <md-input-container>
                <input mdInput placeholder="Company" id="company" [(ngModel)]="model.company" name="company" mdInput #company="ngModel" required>
                <div [hidden]="company.valid || company.pristine" class="alert alert-danger">
                    company is required
                </div>
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Event" id="event" [(ngModel)]="model.event" name="event" mdInput #event="ngModel" required>
                <div [hidden]="event.valid || event.pristine" class="alert alert-danger">
                    Location is required
                </div>
            </md-input-container>
            <button ion-button block  [disabled]="!heroForm.form.valid">Save & Go</button>
        </form>


    </div>
</ion-content>
