Invitations{
	
}
.segment-md .segment-button, .segment-md .segment-button{
	color: grey !important;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
	border-color: grey;
}
.viewmore
{
	
	margin-top:61px !important;
}